<h1>Sign Up</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="form-group">
  First Name: <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
  Last Name: <%= f.text_field :last_name, class: "form-control" %>
  </div>

  Email: <div class="input-group">
  <%= f.text_field :email, class: "form-control" %>
    <span class="input-group-addon" id="basic-addon2">dirtbag28@example.com</span>
  </div>
  Confirm Email: <div class="input-group">
  <%= f.text_field :email_confirmation, class: "form-control" %>
    <span class="input-group-addon" id="basic-addon2">dirtbag28@example.com</span>
  </div>
  <div class="form-group">
  Password: <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
  Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>

<% end %>

